.budget {
  color: #fff;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;

  &__item {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }

  &__cash {
    background: #126650c5;
  }

  &__remaining {
    background: #6520eec5;
  }

  &__spent {
    background: #885053c5;
  }
}

@media (max-width:600px) {
  .budget {
    row-gap: 15px;
    column-gap: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}