.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}


.header {
  padding: 20px 0;

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
  }

  &__select {
    width: fit-content;
    justify-self: end;
  }

  &__option {
    margin: 10px;
  }
}
